.hero-img{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0.7);
    z-index: 999;
}
.headings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black;
    opacity: 0.7; */
}

.header{
    z-index: 9999;
}
.hero-img::before{
    content: "";
    background: url("https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=1060&t=st=1713618788~exp=1713619388~hmac=b17d23f55707ad0b4920dccd0bb35f88a8484e3555e4d283d31cc1f1b5283845");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
.headings h1 {
    font-size: 2.5rem;
    color: #03A9F4;
    margin: 10px;
}

.headings p {
    font-size: 1.5rem;
    text-align: center;
}
@media screen and (max-width:640px){
    .headings h1 {
        font-size: 2rem;
    }
    
    .headings p {
        font-size: 1.2rem;
        text-align: center;
    }
}